<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="github" value="https://nuget.pkg.github.com/1384microservices/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="NUGET" />
            <add key="ClearTextPassword" value="%GITHUB_PAT%" />
        </github>
    </packageSourceCredentials>
</configuration>